<div class='jumbotron'>
  <h1 class="display-4">Endpoint: <%= @endpoint.name %></h1>
  <h2 class="display-7"> Client: <%= @endpoint.client_tag.capitalize %></h2>
</div>


<% params = @endpoint.params %>
<% url = "/call/#{@endpoint.client_tag}/#{@endpoint.name}.json" %>

<div class="container">
  <h2  class="display-7">Submission Form
  <div class="row">
    <div class="col-sm-6">
      <form action="<%= url %>" method="post">
        <%  params.each do |param_name, _| %>
          <div class="form-group">
            <span class="label label-default" style="font-size: 16px;">
              <% req_or_opt = params[param_name.to_s]['optional'] ? 'optional' : 'required' %>
              <% qualified_name = "#{param_name.to_s.capitalize} (#{params[param_name]['type']})(#{req_or_opt})" %>
              <%= qualified_name %>
            </span>
            <input class='form-control' type='text' id="<%= param_name.to_s %>" name="<%= param_name.to_s %>">
          </div>
        <% end %>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
